/**** Start Default Theme ****/

.navbar-dark .navbar-brand span,
.navbar-dark .navbar-nav .nav-item .nav-link:hover,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.dropdown-divider,
.about h1 span,
.features .feat i,
.testimonials span,
.price-table .price-box h2,
.subscribe .h1,
.footer h3,
.footer .copyright span,
.price-table .price-box a,
#scroll-top,
.about-features i,
.about-ceo h2,
.accordion-button:not(.collapsed)
{color: #c407ba;}

.dropdown-item:hover,
.carousel-indicators .active,
.option-box .gear-check,
.price-table .price-box a:hover,
.our-skills button
{background-color: #c407ba;}

.option-box .color-option,
.price-table .price-box a
{border: 3px solid #c407ba;}

.our-team .team,
.statistics .data,
.contact-us .fields
{background-color: rgba(196, 7, 186, 0.8);}

.dropdown-menu {border-top: 3px solid #c407ba;}

.accordion-button:focus {
    border-color: #c407ba;
    box-shadow: 0 0 0 0.25rem rgba(196, 7, 186, 0.25);}

/**** End Default Theme ****/